<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Error Component</title>
  <style>
    p {
      font-weight: bold;
      color: red;
      padding-top: 7px;
    }

    img {
      float: left;
    }
  </style>
</head>

<body>
  <div class="missingDayComponent">
    <img src="assets/images/Warning.png" alt="warning" width="30px" />
    <p>Please submit a calorie intake for 7/15/2018</p>
  </div>
  <div class="missingProteinComponent">
    <img src="assets/images/Warning.png" alt="warning" width="30px" />
    <p>Please submit a protein intake for 7/15/2018</p>
  </div>
  <div class="missingCarbsComponent">
    <img src="assets/images/Warning.png" alt="warning" width="30px" />
    <p>Please submit a carbohydrate intake for 7/15/2018</p>
  </div>
  <div class="missingFatComponent">
    <img src="assets/images/Warning.png" alt="warning" width="30px" />
    <p>Please submit a fat intake for 7/15/2018</p>
  </div>
</body>

</html>