.App {
  text-align: center;
}


.App-header {
  text-align: right;
  padding-top: 2%;
  padding-right: 8%;
}
 
 
 

.loginBtn {
margin: 2% ; 
padding: 2%;
width: 10%
}

.RegisterBtn{
  margin: 2% ; 
  padding: 2%;
  width: 10%
  }